@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Norse-bold';
    font-weight: bold;
    src: url("./Norse-Bold.otf") format("opentype");
}


:root {
    --input-border: #E5E7EB;
    --btn-background: #596D48;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    font-family: 'Roboto', serif;
    font-size: 16px;
    font-weight: 400;
}


body {
    background-color: #f3f3f3;
    color: black;

}

a {
    text-decoration: underline;
    color: inherit;
}


.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    
 }

 .column {
    display: flex;
    flex-direction: column;
 }  
 
 .left {
    flex: 1 55rem;
    justify-content: space-between;
    background-image: url("./palmtree.jpg");
    background-position: center;
    background-size: cover;
 }
 
 .right {
    width: 100%;

    justify-content: center;    
}

 .logo {
    position: relative;
    top: 23.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    font-family: "Norse-bold", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.418);
    
 }
 
 .logo img {
    width: 5.5rem;
 }
 
 .logo h2 {
    font-size: 5rem;
 }
    

 .copyright {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 10px;
 }

 .signup {
    padding: 1rem 0;
 }

 .signup-intro {
    width: 100%;
    max-width: 45rem;
    
    padding: 0.2.5rem;
    margin-bottom: 2.5rem;

 }

 .signup-intro p {
    font-size: 1.5rem;
    font-weight: 700;
 }

 .signup-intro p:first-child {
    margin-bottom: 1.25rem;
 }

